
/* main */
body {
    margin: 0px;
}

/* header */
div.header {
    width: 100%;
    padding: 20px;
    background-color: #38c9de;
    color: #01049e;
    font-size: 20;
    text-align: center;
}

span.headername {
    position: absolute;
    left: 15px;
}
span.headerlogin {
    position: absolute;
    right: 15px;
}

/* buttons */
button {
    background-color: #f51e1e;
    font-size: 15;
    color: white;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}
button:hover {
    background-color: #a20101;
}

/* games page lists */
div.games {
    text-align: center;
}

div#available_games {
    float: left;
}

div#running_games {
    display: inline-block;
}

div#user_games {
    float: right;
}

span.gamelisttitle {
    display: block;
    font-size: 20;
    background-color: #0088FF;
    color: #FFFFFF;
    width: 100%;
    line-height: 50px;
}

div.gamelist {
    border: 10px solid #0000FF;
    border-radius: 5px;
    margin: 5px;
    width: 300px;
    text-align: center;
}

ul.gamelist {
    list-style-type: none;
    margin: 0px;
    padding: 0px;    
}

li.gamelist {
    margin: 1px;
    padding: 0px;    
}

a.gamelist {
    display: block;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    background-color: #ffb2f6;
    color: #130075;
}

a:hover.gamelist {
    background-color: #c126af;
}

/** board table **/
div.playerbar {
    width: 100%;
    padding: 30px;
    margin-top: 10px;
    background-color: #00e224;
    color: white;
    font-size: 20;
}

span.player1 {
    display: inline-block;
    padding: 5px;
}

span.player2 {
    display: inline-block;
    position: absolute;
    right: 15px;
    padding: 5px;
}

span.playerstats {
    display: block;
    font-size: small;
}

div.moveinfo {
    padding: 20px;
    border-style: solid;
    border-color: red;
    margin: 5px;
    font-size: 20;
}

a.leavegame {
    float: right;
}

span.columnfull {
    color: grey;
}

table.board {
    border-collapse: collapse;
    background: yellow;
    float: left;
}

td.board {
    width: 50px;
    height: 50px;
    border: 7px solid yellow;
    border-radius: 100%;
    text-align: center;
    /* yes colors look weird, but used columns change to dark coin colors */
    color: white;
    background: white;
}

td.boardwinner {
    width: 50px;
    height: 50px;
    border: 7px solid green;
    border-radius: 100%;
    text-align: center;
    /* yes colors look weird, but used columns change to dark coin colors */
    color: white;
    background: white;
}

td.boardtop {
    width: 50px;
    height: 50px;
    border: 7px solid transparent;
    border-bottom: 7px solid yellow;
    text-align: center;
}

button.placecoin {
    background-color: #f51e1e;
    font-size: 15;
    color: white;
    padding: 8px;
    margin: 0px;
    border: none;
    border-radius: 10px;
}

button:hover.placecoin {
    background-color: #a20101;
}

/** board moves list (mostly borrowed from games) **/
div.moveslist {
    float: right;
    border: 10px solid #0000FF;
    border-radius: 5px;
    margin: 5px;
    width: 300px;
    text-align: center;
}

span.moveslisttitle {
    display: block;
    font-size: 20;
    background-color: #0088FF;
    color: #FFFFFF;
    width: 100%;
    line-height: 40px;
}

ol.moveslist {
    list-style-type: none;
    margin: 0px;
    padding: 0px;    
}

li.moveslist {
    display: block;
    margin: 1px;
    padding: 5px;
    background-color: #ffb2f6;
    color: #130075;
}

/** login forms **/
div.loginform {
    border: 10px solid #0000FF;
    border-radius: 5px;
    margin: 5px;
    width: 300px;
}

span.logintitle {
    display: block;
    font-size: 20;
    background-color: #0088FF;
    color: #FFFFFF;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

span.loginerror {
    display: block;
    color: red;
    width: 90%;
    margin: 15px;
    text-align: center;
}

form {
    margin: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

a.register {
    display: block;
    width: 90%;
    text-align: center;
    padding: 20px;
}
