<script type="text/javascript">
    // this script snippet sets globals in play.js if the user is in or out of the game
    prompt_leave = {% if prompt_leave %}true{% else %}false{% endif %};
</script>
<div class="playerbar">
    <span class="player1" style="background: {{ game.player1_color_web }};">
        Player 1:
        {% if is_player1 %}
            You!
        {% else %}
            {{ game.player1_name }}
        {% endif %}
        <span class="playerstats">
            {{ game.player1.stats_str }}
        </span>        
    </span>
    <span class="player2" style="background: {{ game.player2_color_web }};">
        Player 2:
        <span id="player2">
            {% if is_player2 %}
                You!
            {% elif game.player2 %}
                {{ game.player2_name }}
            {% else %}
                Waiting for Someone!
            {% endif %}
        </span>
        <span class="playerstats">
            {% if game.player2 %}
                {{ game.player2.stats_str }}
            {% endif %}
        </span>        
    </span>
</div>
<div class="moveinfo">
    {% if is_user_move %}
        It's your move.  Place a coin in your desired column.
    {% elif next_move %}
        Waiting for {{ next_move }} to make a move.
    {% elif game.winner_name %}
        {{ game.winner_name }} Wins!
        <a class="leavegame" href="/connect4/games/">Go to Games</a>
    {% elif game.is_draw %}
        It's a Draw!  No winners this time.
        <a class="leavegame" href="/connect4/games/">Go to Games</a>
    {% elif not is_player1 and not game.player2 %}
        {% if user.is_authenticated %}
            Join the game to play
            <button onclick="join_game();">Join Game</button>
        {% else %}
            Login to join!
        {% endif %}
    {% endif %}
</div>
<table class="board">
    <tr>
        {% for col_full in game.col_full %}
            <td class="boardtop">
                {% if is_user_move %}
                    {% if col_full %}
                        <span class="columnfull">Column Full</span>
                    {% else %}
                        <button class="placecoin" id="placetoken{{ forloop.counter0 }}" onclick="make_move({{ forloop.counter0 }});">Place Coin</button>
                    {% endif %}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% for row in game.board reversed %}
        <tr>
            {% for col in row %}
                <td class="{% if col.2 %}boardwinner{% else %}board{% endif %}"
                        style="background: {% if col.0 %}{{ col.1 }}{% endif %}"
                        id="row{{ forloop.parentloop.counter0 }}col{{ forloop.counter0 }}">
                    {% if col.0 %}
                        <span>
                            {% if col.0 == 1 %}
                                {{ game.player1_name }}
                            {% elif col.0 == 2 %}
                                {{ game.player2_name }}
                            {% endif %}
                        </span>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<div class="moveslist">
    <span class="moveslisttitle">Moves</span>
    <ol class="moveslist">
        {% for move in game.coin_set.all %}
            <li class="moveslist">
                {{ move }}
            </li>
        {% endfor %}
    </ol>
</div>
