<div>
    <span>Player 1:
        {% if is_player1 %}
            You!
        {% else %}
            {{ game.player1_name }}
        {% endif %}
    </span>
    <span>
        Player 2:
        <span id="player2">
            {% if is_player2 %}
                You!
            {% elif game.player2 %}
                {{ game.player2_name }}
            {% elif not is_player1 %}
                <button onclick="join_game();">Join Game</button>
            {% endif %}
        </span>
    </span>
</div>
<div>
    {% if is_user_move %}
        It's your move.  Place a coin in your desired column.
    {% elif next_move %}
        Waiting for {{ next_move }} to make a move.
    {% elif game.winner_name %}
        {{ game.winner_name }} Wins!
    {% endif %}
</div>
<table>
    <tr>
        {% for col_full in game.col_full %}
            <td>
                {% if col_full %}
                    <span>Column Full</span>
                {% elif is_user_move %}
                    <button onclick="make_move({{ forloop.counter0 }});">Place Coin</button>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% for row in game.board reversed %}
        <tr>
            {% for col in row %}
                <td id="row{{ forloop.parentloop.counter0 }}col{{ forloop.counter0 }}">
                    {% if col.0 %}
                        <span>{% if col.0 == 1 %}{{ game.player1_name }}{% elif col.0 == 2 %}{{ game.player2_name }}{% endif %}</span>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<div>
    <span>Moves</span>
    <ol>
        {% for move in game.cell_set %}
            <li>
                {{ move.player1.firstname }} placed in column {{ move.column }} to drop in row {{ move.row }}
            </li>
        {% endfor %}
    </ol>
</div>
