<html>
    <head>
        <title>Login or Register</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}connect4/styles.css">
    </head>
    <body>        
        <div class="header">
            <span class="headername">Register</span>
            <span class="headertitle">Connect4!</span>
        </div>
        <div class="loginform">
            <span class="logintitle">Login</span>
            <span class="loginerror">{% if error %}{{error}}{% endif %}</span>
            <form action='/connect4/login/' method="post">
                {% csrf_token %}
                Username: <input type="text" name="username"><br>
                Password: <input type="password" name="password"><br>
                <input type="submit" value="Login">
            </form>
            <a class="register" href="/connect4/signup/">Register here if you need an account</a>
        </div>
    </body>
</html>
